@use 'fonts';

$primary-color: #000;
$hero-color:linear-gradient(to bottom, #ff7e5f, #feb47b, #fcb69f);
$secondary-color: #000;
$accent-color: #BA3B0A;
$body-text-color: #ffffff;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 180px;
$base-font-weight: 400;

