@use 'fonts';

$primary-color: #3684FD;
$secondary-color: #01193D;
$accent-color: #053AB2;
$background-color: #ffffff;
$background-talk_box: #01193D;
$background-second-content_box: #F8F8F8;
$body-text-color: #1F1F1F;
$heading-font-family: 'Poppins-regular', arial;
$body-font-family: 'Poppins-regular',arial, sans-serif;
$base-font-size: 18px;
$h1-desktop-font-size: 74px;
$h1-tablet-font-size: 55px;
$h1-mobile-font-size: 27px;
$text-desktop-font-size: 20px;
$text-tablet-font-size: 15px;
$text-mobile-font-size: 13px;
$base-font-weight: 400;

