// Import variables from the main variables partial
@forward 'header';
@forward 'footer';
@forward 'card';

/* _base.scss */

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */
body {
  font-family: "poppins", sans-serif;
}

/* Video Player Styles */
:root {
  --plyr-color-main: #2D27FD;
  --plyr-control-icon-size: 28px;
  --plyr-font-family: inherit;
  --plyr-control-spacing: 15px;
  --plyr-control-radius: 70%;
}

.plyr__controls {
  .plyr__controls__item:first-child {
    margin-left: 15px;
  }

  .plyr__controls__item:last-child {
    margin-right: 15px;
  }

  .plyr__control--overlaid {
    --plyr-color-main: yellow;

    svg {
      --plyr-control-icon-size: 25px;
      fill: #2D27FD;
    }
  }

  .plyr__volume input[type="range"] {
    max-width: 500px;
  }

  .plyr__menu {
    display: none;
  }
}

/* Layout and Structure Styles */
p {
  margin-bottom: 20px;
  font-family: "poppins", sans-serif;
}

.info_more {
  background-color: #202F5B;
  position: cover;
}

.hero {
  height: 800px;
  background-color: rgb(168, 168, 168);
  padding: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.image-size-devices {
  max-width: 300px;
  align-items: center;
  height: auto;
  margin-left: 80px;
}

.box_highlight_mob {
  background-color: yellow;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  text-align: center;
  width: auto;
  height: 220px;
  margin-top: 25px;
}

.box {
  background-color: rgb(221, 221, 217);
  color: rgb(0, 0, 0);
  border-radius: 0px;
  text-align: center;
  width: 200px;
  height: 220px;
  margin-top: 25px;
}

.box_titles {
  height: 55px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.box_info {
  background-color: #202F5B;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box_video {
  width: 100%;
}

.highlight {
  font-weight: bold;
  font-size: 23px;
  text-align: left;
  padding: 25px;
}

.about-text {
  margin-top: 30px;
}

.resume_button {
  width: 200px;
  height: 50px;
  background-color: #2D27FD;
  padding: 10px;
  color: #ffffff;
  border: none;
  align-items: center;
  font-weight: bold;
}

.resume_button:hover {
  background-color: #202F5B;
  transition: ease 0.3s;
  border: solid #ffffff;
}

.button-container {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.contact_sec_button {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  padding: 10px;
  border: solid #ffffff;
  align-items: center;
  font-weight: bold;
}

.contact_sec_button:hover {
  background-color: #202F5B;
  transition: ease 0.3s;
  border: solid #ffff00;
  color: #ffffff;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .box {
    width: 400px;
    margin-left: -150px;
  }

  h2 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 50px;
  }

  #high_desk {
    display: block;
  }

  #high_mobile {
    display: none;
  }

  .highlight {
    font-size: 18px;
  }

  .image-size-devices {
    max-width: 300px;
    align-items: left;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .image-size-devices {
    max-width: 380px;
  }

  .highlight {
    font-size: 25px;
  }
}