@use '../abstracts/variables' as v;

body {
    font-family: v.$body-font-family;
}

h1 {
    font-family: v.$h1-desktop;
    font-size: 74px;
    color: v.$accent-color;
    margin-bottom: 10px;


}

h2 {
    font-family: $h2-desktop;
    font-size: 40px;
    color: v.$accent-color;
    margin-bottom: 10px;


}

p{
    line-height: 18px;
    margin-bottom: 12px;
}